name: Build

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build:
    uses: pyjlos/cicd/.github/workflows/build-go.yaml@v1.0.5
    with:
      go-version: "1.25"
      working-directory: "./mtlsenvoy/"